<div class="body">




    <div class="page-wrapper overflow">
        <div class="main-header">
            <div class="home-header-image-block">
                <img src="../../../../assets/imagenes/foto_recibirdor_4.jpg" loading="lazy" alt="" sizes="100vw"
                    class="image-header"
                    style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                <div class="header-gradient"></div>
            </div>
            <div class="header-text-block">
                <div class="header-titles-wrapper">
                    <div class="large-title-block-1">
                        <h1 class="homepage-title">Bienvenido a ONG safa,</h1>
                    </div>
                    <div class="large-title-block-2">
                        <h1 class="homepage-title">Gracias por </h1>
                    </div>
                    <div class="large-title-block-3">
                        <h1 class="homepage-title">Solicitar</h1>
                    </div>
                    <div class="gradient-line-wrapper home-version">
                        <div class="line"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="content">
        <div class="wrap2">
            <div class="content-wrap">
                <h2>Fundación Safa</h2>
                <p class="parrafo">La mejor funcdación solidaria de Sevilla, desde 2005 intentamos que todos tengamos
                    una oportunidad y por ello ayudar a los que mas lo necesitan</p>
                <a>Leer mas</a>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="column">
            <h2>¡Primer paso!</h2>
            <p>En la página principal, busca y haz clic en el boton "Solicitud" donde</p>
            <p>serás redirigido a nuestra página de solicitar.</p>
            <p>Aquí encontrarás opciones para seleccionar </p>
            <p>la canrtdad que deseas solicitar.</p>
            <p>Aquí también encontraras un lugar donde poner tus datos personales necesarios para la solicitud.</p>
        </div>
        <div class="column">
            <h2>¡Segundo paso!</h2>
            <p> Cuando todo lo anterior esta terminado, </p>
            <p> necesitas ir al punto de solicitud mas cercano para dejar la solicitud</p>
            <p> para dejar la solicitud que ha proporcionado en el paso anterior.</p>
            <p> Hecho esto solo queda esperar a que la solicitud sea efectuada y una persona</p>
            <p> haya recogido su solicitud.</p>
        </div>
    </div>

    <br>


    <div class="parallax-section"></div>

    <br>

    <div class="row">
        <div class="column1">
            <h2>Ropa</h2>
            <p> Si eres Donante puedes donar tanto ropa, comida, </p>
            <p> juguetes o artículos como mantas o objetos útiles todo</p>
            <p> es bienvenido</p>
            <img src="../../../../assets/imagenes/ropa.jpg" width="600" height="500" />

        </div>
        <div class="column1">
            <h2>Comida</h2>
            <p> Si eres Solicitante puedes swolicitar tanto ropa, comida, </p>
            <p> juguetes o artículos como mantas o objetos útiles todo</p>
            <p> mientras que se vaya a usar por una buena causa</p>
            <img src="../../../../assets/imagenes/comida.jpg" width="500" height="500" />

        </div>
        <div class="column1">
            <h2>Juguetes</h2>
            <p> Si eres Solicitante puedes swolicitar tanto ropa, comida, </p>
            <p> juguetes o artículos como mantas o objetos útiles todo</p>
            <p> mientras que se vaya a usar por una buena causa</p>
            <img src="../../../../assets/imagenes/juguete.jpg" width="500" height="500" />
        </div>
    </div>




</div>
<br>
<br />
<br />
<br />
<br />
<br />
<br />
<br>
<br />
<br />
<br />
<br />
<br />
<br />
<br />