<div class="body">
  <img id="imagen" src="../../../assets/imagenes/1.jpg" alt="">
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Incio de Sesión</header>
      <form action="#">
        <label for="username">Username</label>
        <input type="username" placeholder="Ingresa el username">
        <label for="password">Contraseña</label>
        <input type="password" placeholder="Ingresa la contraseña">
        <input type="button" class="button" value="Iniciar Sesión" (click)="onSubmit()">
      </form>
      <div class="signup">
        <span class="signup">¿No tienes cuenta?
          <a routerLink="../Register">Registrarse</a>
        </span>
      </div>
    </div>
  </div>
</div>