<div class="body">
  <img id="imagen" src="../../../assets/imagenes/1.jpg" alt="" />
  <div class="container">
    <input type="checkbox" id="check" />
    <div class="login form">
      <header>Incio de Sesión</header>
      <form action="#" [formGroup]="loginForm">
        <div>
          <label for="username">Username</label>
          <input
            type="username"
            [(ngModel)]="username"
            name="username"
            placeholder="Ingresa el username"
            formControlName="username"
            (blur)="touched.username = true"
          />
          <p
            *ngIf="
              touched.username &&
              loginForm.get('username')?.hasError('required')
            "
          >
            Nombre de usuario requerido
          </p>
        </div>
        <div>
          
          <label for="password">Contraseña</label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Ingresa la contraseña"
            id="password"
            formControlName="password"
            (blur)="touched.password = true"
          />
          <div
          *ngIf="
            touched.password &&
            loginForm.get('password')?.hasError('required')
          "
        >
          <p>Contraseña requerida</p>
        </div>
        </div>
        <input
          type="button"
          class="button"
          value="Iniciar Sesión"
          (click)="onSubmit()"
          [disabled]="!loginForm.valid"
        />
      </form>
      <div class="signup">
        <span class="signup"
          >¿No tienes cuenta?
          <a routerLink="../Register">Registrarse</a>
        </span>
      </div>
    </div>
  </div>
</div>
