<!-- <br />
<div class="Div">
  <form class="form">
    <p class="title">Solicitud</p>
    <p class="message">Introduzca sus datos para efectuar la solicitud</p>
    <div class="flex"></div>
    <label> Categoria </label>
    <select [(ngModel)]="idCategoria" name="idCategoria">
      
        <option *ngFor="let item of categoria" [value]="item.id" >
          {{item.nombre}}
          </option>
        
      </select>
    <button (click)="onSubmit()">Enviar</button>
  </form>
  <br />
</div> -->
<div class="body">
  <img
    id="imagen"
    src="../../../../assets/imagenes/foto_recibirdor_2.jpg"
    alt=""
  />
  <div class="container">
    <input type="checkbox" id="check" />
    <div class="login form">
      <form [formGroup]="soliForm">
        <header>Solicitud</header>
        <p class="message">Introduzca sus datos para efectuar la solicitud</p>
        <label id="label"> Solicitud </label>
        <br />
        <select
          id="select"
          [(ngModel)]="idCategoria"
          name="idCategoria"
          id="idCategoria"
          formControlName="idCategoria"
          (blur)="touched.idCategoria = true"
        >
          <option *ngFor="let item of categoria" [value]="item.id">
            {{ item.nombre }}
          </option>
        </select>
        <div
          *ngIf="
            touched.idCategoria &&
            soliForm.get('idCategoria')?.hasError('required')
          "
        >
          <p class="error">Categoria requerido</p>
        </div>

        <br />
        <button class="submit" (click)="onSubmit()" [disabled]="!soliForm.valid">Enviar</button>
      </form>
    </div>
  </div>
</div>
