*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.body{
  height: auto;
  width: 100%;
  background: #009579;
}

#imagen{
  width: 99vw;
  height: auto;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 200vw;
  height: auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);

}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 75%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #006653;
}
.signup{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.signup label{
  color: #009579;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}

.column {
  display: grid ;
  grid-template-columns: 1fr 1fr;
  margin-left: 9em;
}

.select{
  width: 75%;
  height: 8vh;
  border-radius: 6px;
  align-items: center;
}
.divi{
  display: flex;
  flex-direction: column;
  align-items: left;
}

::placeholder{
  color: #009579;
}

.login form{
  width: 80vw;
}
p{
  color: red;
  margin-bottom: 1em;
  font-size: 15px;
}
.form input.button:disabled{
  background-color: #009579;
  opacity: 50%;
}
