.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.Div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #54d9c9b0;

  margin-left: 2em;
  box-shadow: 4px 8px 8px 8px #2f4858;
  width: 50vw;
  height: auto;
}

.DivRegister {
  width: 40vw;
  height: auto;
  background-color: #7FFFD4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}
.DivContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
#btn-login {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

#btn-login:hover {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}
input {
  margin-top: 0.5em;
  margin-right: 2em;
}
.Divs {
  margin-top: 3em;
  margin-left: 2em;
}