.Div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #54d9c9b0;

  margin-left: 2em;
  box-shadow: 4px 8px 8px 8px #2f4858;
  width: 80vw;
  height: auto;
}
.DivRegister {
  width: 95%;
  background-color: #7fffd4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

details {
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 95%;
  overflow: hidden;
  border: 2px solid black;

  box-shadow: 5px 2px 3px black;
}
summary {
  background-color: #2f4858;
  font-size: 2em;
}
