<div class="row with-line">
  <div class="row">
    <div class="col" id="col1">
      <p class=" text-center texto">
        <strong>
          <p class="pregunta">¡Bienvenidos a ONG Safa!</p>
        </strong>
        <br />
        !Gracias por visitar nuestra pagina y por considerar unirse a nosotros
        en nuestro esfuerzo para hacer un mundo mejor!
        <br />
        En ONG Safa, estamos comprometidos con la ayuda de los demas. Con tu
        apoyo, podemos lograr grandes cosas.
        <br />
        A continuacion vamos a hacer un pequeño tutorial de como recoger una
        donación.
      </p>
    </div>
    <div class="col left-line ">
      <img src="assets/imagenes/foto_recibirdor_1.jpg" alt=""  class="foto_recibirdor_1"/>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="assets/imagenes/foto_recibirdor_2.jpg" class="toy" />
    </div>
    <div class="col left-line">
      <p class="p-1 text-center texto">
        <strong>
          <p class="pregunta">¡Primer paso!</p>
        </strong>
        <br />
        En la pagina principal, busca y haz clic en el boton "Solicitudes de
        donacion" donde seras redirigido a nuestra pagina donde estan todas la
        donaciones.
        <br />
        Aqui encontraras opcinones para seleccionar la donacion que desea
        <br />
        Aqui tambien encontraras un lugar donde poner tus datos personales
        necesarios para la recogida
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="p-1 text-center texto">
        <strong>
          <p class="pregunta">¡Segundo paso!</p>
        </strong>
        <br>
        Cuando todo lo anterior esta terminado, necesitas ir al punto de
        recogida mas cercano para recoger la donacion que ha solicitado en el
        paso anterior
        <br />
        Hecho lo anterior, le llegara un correo electronico con la informacion
        de la donaciones deseada
      </p>
    </div>
    <div class="col left-line">
      <img src="assets/imagenes/foto_recibirdor_3.jpg" alt="" class="foto3" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="assets/imagenes/foto_recibirdor_4.jpg" alt="" class="foto3" />
    </div>
    <div class="col left-line">
      <p class="p-1 text-center texto">
        <strong>
          <p class="pregunta">¡Gracias por al confiar en nosotros!</p>
        </strong>
        Hecho todo lo anterior ya esta todo listo
        <br />
        Gracias a las personas que donan, la ayuda puede salir adelante
        <br />
        Por tu confianza en nuestra pagina podemos seguir creciendo para seguir
        ayudando a mas personas necesitadas
      </p>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col">
    <button class="boton">¡Registrate!</button>
  </div>
</div>
