<div class="row with-line">
    <div class="row">
      <div class="col" id="col1">
        <p class="p-1 text-center">
          <strong>
            <p class="pregunta">¡Bienvenidos a ONG Safa!</p>
          </strong>
          <br />
          !Gracias por visitar nuestra pagina y por considerar unirse a nosotros
          en nuestro esfuerzo para hacer un mundo mejor!
          <br />
          En ONG Safa, estamos comprometidos con la ayuda de los demas. Con tu
          apoyo, podemos lograr grandes cosas.
          <br />
          A continuacion vamos a hacer un pequeño tutorial de como donar.
        </p>
      </div>
      <div class="col left-line">
        <img src="assets/imagenes/niños.png" alt="" />
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <img src="assets/imagenes/toy_story.jpg" class="toy" />
      </div>
      <div class="col left-line">
        <p class="p-1 text-center">
          <strong>
            <p class="pregunta">¡Primer paso!</p>
          </strong>
          <br />
          En la pagina principal, busca y haz clic en el boton "Donacion" donde
          seras redirigido a nuestra pagina de donacion.
          <br />
          Aqui encontraras opcinones para seleccionar la cantidad que deseas
          donar.
          <br />
          Aqui tambien encontraras un lugar donde poner tus datos personales
          necesarios para la donacion
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="p-1 text-center">
          <strong>
            <p class="pregunta">¡Segundo paso!</p>
          </strong>
          Cuando todo lo anterior esta terminado, necesitas ir al punto de
          donacion mas cercano para dejar la donacion que ha proporcionado en el
          paso anterior.
          <br />
          Hecho esto solo queda esperar a que la donacion sea efectuada y una
          persona haya recogido su donacion
        </p>
      </div>
      <div class="col left-line">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12673.590256972082!2d-5.9773094!3d37.4277119!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd12698921e6db91%3A0x276d986eca9df64a!2sAmazon%20Counter!5e0!3m2!1ses!2ses!4v1695994408054!5m2!1ses!2ses"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="mapa"
        >
        </iframe>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/imagenes/foto.jpg" alt="" class="foto3" />
      </div>
      <div class="col left-line">
        <p class="p-1 text-center">
          <strong>
            <p class="pregunta">¡Gracias por al donacion!</p>
          </strong>
          Hecho todo lo anterior ya esta la donacion efectuada, lista y entregada.
          <br>
          Gracias a personas como tu las personas necesitadas obtienen recursos para seguir adelante.
          <br>
          Por tu donacion nos acercamos un paso mas a alcanzasr nuestros objetivos y hacer un impacto positivo
        </p>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <button class="boton">¡Registrate!</button>
    </div>
  </div>
  
