<!-- nombre, apellidos, cantidad prod, descripcion prod-->
<br />
<br />
<br />
<div>
  <h1 id="titulo">hola ke hase</h1>
</div>
<br />
<br />
<br />
<div>
  <div>
    <form action="#" target="" method="get" name="formDatosPersonales">
      <div>
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          name="nombre"
          id="nombre"
          placeholder="Escribe tu nombre"
        />
        <br />
        <label for="apellidos">Primer Apellido:</label>
        <input
          type="text"
          name="apellidos"
          id="apellidos"
          placeholder="Primer Apellido"
        />
        <br />
        <label for="apellidos">Segundo Apellido:</label>
        <input
          type="text"
          name="apellidos"
          id="apellidos"
          placeholder="Segundo Apellido"
        />
        <br />
        <label for="telefono">Teléfono</label>
        <input
          type="tel"
          name="telefono"
          id="telefono"
          placeholder="Númeero de teléfono"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="cantidad producto">Cantidad producto:</label>
        <select
          id="cantidad producto"
          placeholder="Introduzca la cantidad de productos a donar"
        >
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
        </select>
      </div>
      <br />
      <div class="form-group">
        <label for="mensaje">Descripción:</label>
        <textarea
          name="mensaje"
          for="mensaje"
          placeholder="Describe brevemente en menos de 300 carácteres"
          maxlength="300"
        ></textarea>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">enviar</button>
    </form>
  </div>
</div>
