<nav [ngClass]="{ scrolled: isScrolled }">
  <div
    class="divController"
    *ngIf="this.rol === null"
  >
    <div class="left-section">
      <img src="assets/imagenes/logo.png" />
      <ul>
        <li><a routerLink="OngSafa/Inicio">Inicio</a></li>
        <li><a routerLink="OngSafa/contacto">Contacto</a></li>
      </ul>
    </div>
    <div class="right-section">
      <ul>
        <li class="right-link"><a routerLink="OngSafa/Login">Login</a></li>
        <li class="right-link">
          <a routerLink="OngSafa/Register">Register</a>
        </li>
        <li><a (click)="logout()">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
  <!-- ------------------------------- -->

  <div class="divController" *ngIf="this.rol === 'ADMIN'">
    <div class="left-section">
      <img src="assets/imagenes/logo.png" />
      <ul>
        <li><a routerLink="Admin/Alta">Alta</a></li>
        <li><a routerLink="Admin/Control">Control</a></li>
        <li><a routerLink="Admin/Donaciones">Donaciones</a></li>
        <li><a routerLink="Admin/Solicitudes">Solicitudes</a></li>
      </ul>
    </div>
    <div class="right-section">
      <ul>
        <li>
          <a routerLink="Admin/Perfil"
            >{{ this.nombre
            }}<img class="login" src="assets/imagenes/persona.png"
          /></a>
        </li>
        <li><a (click)="logout()">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
  <div class="divController" *ngIf="this.rol === 'USER'">
    <div class="left-section" *ngIf="this.userTipo === 'DONANTE'">
      <img src="assets/imagenes/logo.png" />
      <ul>
        <li><a routerLink="User/InicioDonante">Inicio</a></li>
        <li><a routerLink="User/Donar">Donar</a></li>
      </ul>
    </div>
    <div class="left-section" *ngIf="this.userTipo === 'RECIBIDOR'">
      <img src="assets/imagenes/logo.png" />
      <ul>
        <li><a routerLink="User/InicioRecibidor">Inicio</a></li>
        <li><a routerLink="User/Recibir">Recibir</a></li>
      </ul>
    </div>
    <div class="right-section" *ngIf="this.userTipo">
      <ul>
        <li>
          <a routerLink="User/Perfil"
            >{{ this.nombre
            }}<img class="login" src="assets/imagenes/persona.png"
          /></a>
        </li>
        <li><a (click)="logout()">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
  
  <div class="scroll-bar"></div>
</nav>
