<nav [ngClass]="{'scrolled': isScrolled}">
  <div class="divController" *ngIf="userService.user === '' && personaTipo.persona === ''">
     <div class="left-section"> 
    <img src="assets/imagenes/logo.png">
    <ul>
      <li><a routerLink="OngSafa/">Inicio</a></li>
      <li><a routerLink="OngSafa/Donar">Donar</a></li>
      <li><a routerLink="OngSafa/contacto">Contacto</a></li>
    </ul>
  </div>
  <div class="right-section">
    <ul>
      <li class="right-link"><a routerLink="OngSafa/Login">Login</a></li>
      <li class="right-link"><a routerLink="OngSafa/Register">Register</a></li>
    </ul>
  </div> 
  </div>
    <!-- ------------------------------- -->


    <div class="divController" *ngIf="userService.user === 'Admin'">
      <div class="left-section">
      <img src="assets/imagenes/logo.png">
      <ul>
        <li><a routerLink="OngSafa/">Inicio</a></li>
        <li><a routerLink="OngSafa/Alta">Alta</a></li>
      </ul>
    </div>
      <div class="right-section">
      <ul>
         <li><a routerLink="OngSafa/Perfil">{{personaTipo.nombrePersona}}<img class="login" src="assets/imagenes/persona.png"></a></li>
      </ul>
    </div>
  </div>
  <div class="divController" *ngIf="personaTipo.persona">
    <div class="left-section" *ngIf=" personaTipo.persona === 'Donante'">
    <img src="assets/imagenes/logo.png">
    <ul>
      <li><a routerLink="OngSafa/">Inicio</a></li>
      <li><a routerLink="OngSafa/Donante">Donar</a></li>
    </ul>
    </div>
    <div class="left-section" *ngIf="personaTipo.persona === 'Recibir'">
      <img src="assets/imagenes/logo.png">
      <ul>
        <li><a routerLink="OngSafa/">Inicio</a></li>
        <li><a routerLink="OngSafa/Recibir">Recibir</a></li>
      </ul>
  </div>
    <div class="right-section" *ngIf="personaTipo.persona">
    <ul>
       <li><a routerLink="OngSafa/Perfil">{{personaTipo.nombrePersona}}<img class="login" src="assets/imagenes/persona.png"></a></li>
    </ul>
  </div>
</div>
   
  <div class="scroll-bar"></div>
</nav>

  
