<div class="grande">
  <br />
  <div class="container">
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img
            src="assets/imagenes/1.jpg"
            class="d-block mx-auto fotos"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            src="assets/imagenes/2.jpg"
            class="d-block mx-auto fotos"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            src="assets/imagenes/3.jpg"
            class="d-block mx-auto fotos"
            alt="..."
          />
        </div>
        <div class="carousel-item" gtit data-bs-interval="5000">
          <img
            src="assets/imagenes/4.jpg"
            class="d-block mx-auto fotos"
            alt="..."
          />
        </div>
      </div>

      <button
        class="carousel-control-prev botones"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        z
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="row with-line">
      <div class="row">
        <div class="col" id="col1">
          <p class="p-1 text-center">
            <strong>
              <p class="pregunta">
                ¡Únete a nosotros para hacer una diferencia!
              </p>
            </strong>
              <br />
              Desde ONG Safa, creemos en el poder de la comunidad para crear un
              impacto positivo en la vida de quienes más lo necesitan. Nuestra
              misión es brindar apoyo y esperanza a personas y comunidades en
              situación de vulnerabilidad. Y tú puedes ser parte de esta misión.
            
          </p>
        </div>
        <div class="col left-line">
          <img src="assets/imagenes/niños.png" alt="" />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img src="assets/imagenes/toy_story.jpg" class="toy" />
        </div>
        <div class="col left-line">
          <p class="p-1 text-center">
            <strong>
              <p class="pregunta">¿Por qué donar?</p>
            </strong>
            Cada donación, sin importar su tamaño, tiene el potencial de hacer
            una diferencia significativa en la vida de alguien que lo necesita.
            Ya sea que estés considerando donar objetos en buen estado que ya no
            utilizas, tu generosidad puede tener un impacto duradero. Al
            extender tu mano para ayudar a los demás, estás contribuyendo a
            crear un mundo más solidario y mejor para todos.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="p-1 text-center">
            <strong>
              <p class="pregunta">¿Cómo donar?</p>
            </strong>
            Donar es fácil. Puedes visitarnos en nuestra ubicación
            <a>C. Zoologia, 48, 41015 Sevilla</a> para dejar tus donaciones en
            persona o programar una recolección en tu domicilio. También
            aceptamos donaciones en línea a través de nuestro sitio web seguro.
            Cada donación, grande o pequeña, nos acerca un paso más a ayudar a
            quienes más lo necesitan.
          </p>
        </div>
        <div class="col left-line">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12673.590256972082!2d-5.9773094!3d37.4277119!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd12698921e6db91%3A0x276d986eca9df64a!2sAmazon%20Counter!5e0!3m2!1ses!2ses!4v1695994408054!5m2!1ses!2ses"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="mapa"
          >
          </iframe>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="assets/imagenes/foto.jpg" alt="" class="foto3" />
        </div>
        <div class="col left-line">
          <p class="p-1 text-center">
            <strong>
              <p class="pregunta">¡Tu donación importa!</p>
            </strong>
            En ONG Safa, cada donación es apreciada y utilizada de manera
            responsable para llevar a cabo proyectos que impactan positivamente
            en la comunidad. Juntos, podemos marcar la diferencia y construir un
            mundo más compasivo y solidario. ¡Únete a nosotros hoy mismo y
            contribuye a hacer del mundo un lugar mejor!
          </p>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <a routerLink="../Register">
          <button class="boton">Registrarse</button>
        </a>
      </div>
    </div>
  </div>
  <br />
</div>
