<br />
<div class="Div">
  <div class="DivRegister">
    <div class="DivContainer">
      <div class="Divs">
        <label for="nombre">Nombre de Producto</label>
        <div>
          <input type="text" name="nombre" [(ngModel)]="nombre" />
        </div>
      </div>
      <br />
      <div class="Divs">
        <label>Categoria del producto</label>
        <br />
        <select [(ngModel)]="idCategoria" name="idCategoria">
          <option *ngFor="let item of categoria" [value]="item.id">
            {{ item.nombre }}
          </option>
        </select>
      </div>
      <br />
      <div class="Divs">
        <label>Tipo del producto</label>
        <br />
        <select [(ngModel)]="idTipo" name="idTipo">
          <option *ngFor="let item of tipo" [value]="item.id">
            {{ item.nombre }}
          </option>
        </select>
      </div>
      <br />
      <div class="Divs">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="crearProducto()"
        >
          Crear
        </button>
      </div>
    </div>
  </div>
</div>
<br />
