<div class="row with-line">
    <div class="row">
      <div class="col" id="col1">
        <p class="p-1 text-center texto">
          <strong>
            <p class="pregunta">¡Bienvenidos a ONG Safa!</p>
          </strong>
          <br />
          !Gracias por visitar nuestra pagina y por considerar unirse a nosotros
          en nuestro esfuerzo para hacer un mundo mejor!
          <br />
          En ONG Safa, estamos comprometidos con la ayuda de los demas. Con tu
          apoyo, podemos lograr grandes cosas.
          <br />
          A continuacion vamos a hacer un pequeño tutorial de como donar.
        </p>
      </div>
      <div class="col left-line">
        <img src="assets/imagenes/foto_donador_1.jpg" alt="" class="foto_donador_1"/>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <img src="assets/imagenes/foto_donador_2.jpg" class="toy"/>
      </div>
      <div class="col left-line">
        <p class="p-1 text-center texto">
          <strong>
            <p class="pregunta">¡Primer paso!</p>
          </strong>
          <br />
          En la pagina principal, busca y haz clic en el boton "Donacion" donde
          seras redirigido a nuestra pagina de donacion.
          <br />
          Aqui encontraras opcinones para seleccionar la cantidad que deseas
          donar.
          <br />
          Aqui tambien encontraras un lugar donde poner tus datos personales
          necesarios para la donacion
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="p-1 text-center texto">
          <strong>
            <p class="pregunta">¡Segundo paso!</p>
          </strong>
          Cuando todo lo anterior esta terminado, necesitas ir al punto de
          donacion mas cercano para dejar la donacion que ha proporcionado en el
          paso anterior.
          <br />
          Hecho esto solo queda esperar a que la donacion sea efectuada y una
          persona haya recogido su donacion
        </p>
      </div>
      <div class="col left-line">
        <img src="assets/imagenes/foto_donador_3.jpg" alt="" class="foto_donador_3">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/imagenes/foto_donador_4.jpg" alt="" class="foto3" />
      </div>
      <div class="col left-line">
        <p class="p-1 text-center texto">
          <strong>
            <p class="pregunta">¡Gracias por al donacion!</p>
          </strong>
          Hecho todo lo anterior ya esta la donacion efectuada, lista y entregada.
          <br>
          Gracias a personas como tu las personas necesitadas obtienen recursos para seguir adelante.
          <br>
          Por tu donacion nos acercamos un paso mas a alcanzasr nuestros objetivos y hacer un impacto positivo
        </p>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <button class="boton">¡Registrate!</button>
    </div>
  </div>
  
