.Div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #54d9c9b0;
  
    margin-left: 2em;
    box-shadow: 4px 8px 8px 8px #2f4858;
    width: 50vw;
    height: 80vh;
  }
  .DivRegister {
    width: 40vw;
    background-color: #7FFFD4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1em;
  }