<br />

<div class="Div">
  <div class="DivContainer">
    <div class="DivContainer" [formGroup]="tipoForm">
      <div class="Divs">
        <label for="tipo">Nombre del Tipo</label>
        <div>
          <input
            type="text"
            name="tipo"
            [(ngModel)]="nombre"
            id="nombre"
            formControlName="nombre"
            (blur)="touched.nombre = true"
          />
          <div
            *ngIf="
              touched.nombre &&
              tipoForm.get('nombre')?.hasError('required')
            "
          >
            <p class="error">Nombre del tipo requerido</p>
          </div>
        </div>
      </div>
      <br />
      <div class="Divs">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="crearTipo()"
          [disabled]="!tipoForm.valid"
        >
          Crear
        </button>
      </div>
    </div>
  </div>
  <br />
</div>
