<div class="Div">
    <div class="DivRegister">
        <div class="admin" *ngIf="this.rol === 'ADMIN'">
            <img id="imagen" height="350" width="1120"
                src="https://images.ctfassets.net/hrltx12pl8hq/15cZQrO2lOQwLNNgpeYZor/ea0e21707caa52acc92edbf0ee5339b7/Minimal-Black_1.jpg?fit=fill&w=800&h=300" />

            <img id="hola" width="150" height="150"
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
            <div class="card__title">Username: {{this.nombre}}</div>
            <div class="card__subtitle">Rol: {{this.rol}}</div>
            <div class="card__wrapper">
                <br>

            </div>


        </div>

        <div class="user" *ngIf="this.rol === 'USER'">
            <img id="imagen" height="350" width="1116"
                src="https://img.freepik.com/vector-premium/fondo-banner-moderno-azul-abstracto-plantilla-fondo-patron-banner-diseno-grafico-abstracto-vector_181182-18212.jpg" />
            <img id="hola" width="150" height="150"
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
            <div class="card__title">Tipo persona: {{this.tipo}}</div>
            <div class="card__subtitle">Apellidos: {{this.primero}}, {{this .segundo}}</div>
            <div class="card__subtitle">Teléfono: {{this.telefono}}</div>
            <div class="card__subtitle">DNI: {{this.dni}}</div>
            <div class="card__wrapper">
                <br>
                <div *ngIf="this.userTipo== 'RECIBIDOR'">
                    <h2>Mis Solicitudes:</h2>
                    <div class="container">


                        <div class="categoria" *ngFor="let item of solicitud">
                            <div>
                                <p>Nombre: {{item.categoriaDTO.nombre}}</p>
                                <p>Descripción: {{item.categoriaDTO.descripcion}}</p>
                                <p>Estado: {{item.estado}}</p>
                            </div>
                        </div>

                    </div>

                </div>

                <div *ngIf="this.userTipo=='DONANTE'">
                    <h2>Mis Donaciones:</h2>
                    <div class="container">


                        <div class="categoria" *ngFor="let item of donacion">
                            <div>
                                <p>Nombre: {{item.categoriaDTO.nombre}}</p>
                                <p>Descripción: {{item.descripcion_producto}}</p>
                                <p>Estado: {{item.estado}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>