<br />
<div class="Div">
  <form class="form">
    <p class="title">Donación</p>
    <p class="message">Introduzca sus datos para efectuar la donación</p>
    <div class="flex"></div>
    <label> Categoria </label>
    <select [(ngModel)]="idCategoria" name="idCategoria">
      
      <option *ngFor="let item of categoria" [value]="item.id" >
        {{item.nombre}}
        </option>
      
    </select>

    <label>
      <textarea
        class="input"
        type="text"
        name="descripcion_producto"
        [(ngModel)]="descripcion_producto"
      ></textarea>
    </label>

    <button class="submit" (click)="onSubmit()">Enviar</button>
  </form>
  <br />
</div>
