<br>
<div class="Div">
<form class="form">
  <p class="title">Donación </p>
  <p class="message">Introduzca sus datos para efectuar la donación </p>
      <div class="flex">
      
  </div>  
          
  <label>
      <input class="input" type="select" placeholder="" required="">
      <span>ID Producto</span>
  </label> 
  <label>
      <input class="input" type="number" placeholder="" required="">
      <span>Cantidad</span>
 </label>
 <label>
    <input class="input" type="select" placeholder="" required="">
    <span>ID tipo</span>
</label>
  <label>
      <input class="input" type="text" placeholder="" required="">
      <span>Mensaje</span>
  </label>
  <button class="submit">Enviar</button>

</form>
<br>
</div>