<br />
<br />
<br />
<div class="Div">
  <div class="DivRegister">
    <table class="Table" *ngIf="isVisible == false">
      <thead>
        <tr>
          <th></th>
          <th>Número de Solicitud</th>
          <th>Nombre De la Persona</th>
          <th>Descripcion del Producto</th>
          <th>¿Qué Dona?</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donacion of responseData">
          <td></td>
          <td>{{ donacion.id }}</td>
          <td>{{ donacion.personaDTO.nombre }}</td>
          <td>{{ donacion.descripcion_producto }}</td>
          <td>{{ donacion.categoriaDTO.nombre }}</td>
          <td>{{ donacion.estado }}</td>

          <td>
            <button class="btn btn-info" (click)="administrar(donacion.id)">
              Administrar Donación
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="isVisible == true">
      <div class="grid">
        <div class="div">
          <label>Id</label>
          <input type="text" [value]="Donaciones.id" disabled />
        </div>

        <div class="div">
          <label>¿Descripción?</label>
          <textarea
            type="text"
            [value]="Donaciones.descripcion_producto"
            disabled
          >
          </textarea>
        </div>

        <div class="div">
          <label>Persona que envía la Donación</label>
          <input type="text" [value]="Donaciones.personaDTO.nombre" disabled />
        </div>

        <div class="div">
          <label>¿Qué Da?</label>
          <input
            type="text"
            [value]="Donaciones.categoriaDTO.nombre"
            disabled
          />
        </div>
        <div>
          <div class="div">
            <label>Estado</label>
            <input type="text" [value]="Donaciones.estado" disabled />
          </div>
        </div>
      </div>

      <div class="crear" *ngIf="this.Donaciones.estado !== 'ACEPTADA' && this.Donaciones.estado !== 'RECHAZADA'">
        <div class="div">
          <label>Nombre del producto</label>
          <select [(ngModel)]="idProducto" name="idCategoria">
            <option *ngFor="let item of productos" [value]="item.id">
              {{ item.nombre }}
            </option>
          </select>
        </div>
        <div class="div">
          <label>Cantidad</label>
          <input [(ngModel)]="cantidad" type="number" />
        </div>
      </div>

      <br />

      <div class="boton" *ngIf="this.Donaciones.estado !== 'ACEPTADA' && this.Donaciones.estado !== 'RECHAZADA'">
        <button class="btn btn-info" (click)="subir(cantidad)">Subir</button>
      </div>

      <br />

      <div>
        <div *ngIf="this.Donaciones.estado == 'ACEPTADA'">
          <h1>Esta Donación fue Aceptada</h1>
        </div>
        <div *ngIf="this.Donaciones.estado == 'RECHAZADA'">
          <h1>Esta Donación fue Rechazada</h1>
        </div>

        <table class="Table" *ngIf="this.Donaciones.estado !== 'ACEPTADA' && this.Donaciones.estado !== 'RECHAZADA'">
          <thead>
            <tr>
              <th>Nombre del Producto</th>
              <th>Categoria del Producto</th>
              <th>Tipo del Producto</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tabla of tabla">
              <td>{{ tabla.nombreProducto }}</td>
              <td>{{ tabla.categorianombre }}</td>
              <td>{{ tabla.idtipo }}</td>
              <td>{{ tabla.cantidad }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <br />

      <div class="buttons">
        <button class="btn btn-info" (click)="cerrar()">Volver</button>
        <button class="btn btn-info" *ngIf="this.Donaciones.estado !== 'ACEPTADA' && this.Donaciones.estado !== 'RECHAZADA'" (click)="Rechazar()">Rechazar Solicitud</button>
        <button class="btn btn-info" *ngIf="this.Donaciones.estado !== 'ACEPTADA' && this.Donaciones.estado !== 'RECHAZADA'" (click)="Pendiente()">Poner en Pendiente de Stock</button>
        <button
          class="btn btn-info"
          (click)="resolver()"
          *ngIf="this.Donaciones.estado !== 'ACEPTADA' && this.Donaciones.estado !== 'RECHAZADA'"
        >
          Resolver
        </button>
      </div>
    </div>
  </div>
</div>
