<br />
<br />
<br />
<div class="Div">
  <div class="DivRegister">
    <table class="Table" *ngIf="isVisible == false">
      <thead>
        <tr>
          <th></th>
          <th>Número de Solicitud</th>
          <th>Nombre De la Persona</th>
          <th>Descripcion del Producto</th>
          <th>¿Qué Dona?</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donacion of responseData">
          <td>
            <button class="button" (click)="borrarDonacion(donacion.id)">
              Rechazar
            </button>
          </td>
          <td>{{ donacion.id }}</td>
          <td>{{ donacion.personaDTO.nombre }}</td>
          <td>{{ donacion.descripcion_producto }}</td>
          <td>{{ donacion.categoriaDTO.nombre }}</td>
          <td>{{ donacion.estado }}</td>

          <td>
            <button class="btn btn-primary" (click)="administrar(donacion.id)">
              Administrar Donación
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="isVisible == true">
      <div class="grid">
        <div class="div">
          <label>Id</label>
          <input type="text" [value]="Donaciones.id" disabled />
        </div>

        <div class="div">
          <label>¿Descripción?</label>
          <textarea
            type="text"
            [value]="Donaciones.descripcion_producto"
            disabled
          >
          </textarea>
        </div>

        <div class="div">
          <label>Persona que envía la Donación</label>
          <input type="text" [value]="Donaciones.personaDTO.nombre" disabled />
        </div>

        <div class="div">
          <label>¿Qué Da?</label>
          <input
            type="text"
            [value]="Donaciones.categoriaDTO.nombre"
            disabled
          />
        </div>
        <div>
          <div class="div">
            <label>Estado</label>
            <input type="text" [value]="Donaciones.estado" disabled />
          </div>
        </div>
      </div>

      <div class="crear">
        <div class="div">
          <label>Nombre del producto</label>
          <input type="text" />
        </div>
        <div class="div">
          <label>Categoria del Producto</label>
          <input type="text" />
        </div>
        <div class="div">
          <label>Tipo del Producto</label>
          <input type="text" />
        </div>
      </div>

      <br />

      <div>
        <table class="Table">
          <thead>
            <tr>
              <th></th>
              <th>Nombre del Producto</th>
              <th>Categoria del Producto</th>
              <th>Tipo del Producto</th>
              <th>Cantidad</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr></tr>
          </tbody>
        </table>
      </div>

      <br />

      <div class="buttons">
        <button class="btn btn-primary" (click)="cerrar()">
          Volver
        </button>
        <button class="btn btn-primary">Resolver</button>
      </div>
    </div>
  </div>
</div>
