<br />
<br />
<br />
<div class="Div">
  <div class="DivRegister">
    <table class="Table" *ngIf="isVisible == false">
      <thead>
        <tr>
          <th></th>
          <th>Número de Solicitud</th>
          <th>Lugar de Almacenamiento</th>
          <th>¿Quién pide?</th>
          <th>¿Qué pide?</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of responseData">
          <td></td>
          <td>{{ solicitud.id }}</td>
          <td>{{ solicitud.almacenDTO.id }}</td>
          <td>{{ solicitud.personaDTO.nombre }}</td>
          <td>{{ solicitud.categoriaDTO.nombre }}</td>
          <td>{{ solicitud.estado }}</td>
          <td>
            <button class="btn btn-info" (click)="administrar(solicitud.id)">
              Administrar Solicitud
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="isVisible == true">
      <div class="grid">
        <div class="div">
          <label>Id</label>
          <input type="text" [value]="Solicitudes.id" disabled />
        </div>

        <div class="div">
          <label>¿Qué Almacén recibio la Solicitud?</label>
          <input type="text" [value]="Solicitudes.almacenDTO.id" disabled />
        </div>

        <div class="div">
          <label>Persona que envía la solicitud</label>
          <input type="text" [value]="Solicitudes.personaDTO.nombre" disabled />
        </div>

        <div class="div">
          <label>¿Que pide?</label>
          <input
            type="text"
            [value]="Solicitudes.categoriaDTO.nombre"
            disabled
          />
        </div>

        <div class="div">
          <label>Estado</label>
          <input type="text" [value]="Solicitudes.estado" disabled />
        </div>
      </div>

      <div class="crear" *ngIf="this.Solicitudes.estado !== 'ACEPTADA'">
        <div class="div">
          <label>Categoria del producto</label>
          <select
            [(ngModel)]="idCategoria"
            (click)="loadProductos(idCategoria)"
            name="idCategoria"
          >
            <option *ngFor="let item of categoria" [value]="item.id">
              {{ item.nombre }}
            </option>
          </select>
        </div>
      </div>

      <br />
      <div class="union" *ngIf="this.Solicitudes.estado !== 'ACEPTADA'">
        <div>
          <table class="Table">
            <thead>
              <tr>
                <th>Nombre del Producto</th>
                <th>Categoria del Producto</th>
                <th>Cantidad del Producto</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="visiblepop == false">
              <tr *ngFor="let stock of Stock">
                <td>{{ stock.productoDTO.nombre }}</td>
                <td>{{ stock.categoriaDTO.nombre }}</td>
                <td>{{ stock.cantidad }}</td>
                <td>
                  <button
                    class="btn btn-info"
                    (click)="
                      quitar(
                        stock.id,
                        stock.cantidad,
                        stock.productoDTO.nombre,
                        stock.categoriaDTO.nombre,
                        stock.productoDTO.id,
                        stock.categoriaDTO.id
                      )
                    "
                  >
                    Añadir
                  </button>
                </td>
              </tr>
            </tbody>
            <!-- <div *ngIf="visiblepop== true">
              <app-pop-up></app-pop-up>
            </div> -->
          </table>
        </div>

        <div>
          <table class="Table">
            <thead>
              <tr>
                <th></th>
                <th>Nombre del Producto</th>
                <th>Categoria del Producto</th>
                <th>Cantidad del Producto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tabla of tabla">
                <td></td>
                <td>{{ tabla.nombre }}</td>
                <td>{{ tabla.categorianombre }}</td>
                <td>{{ tabla.cantidad }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="this.Solicitudes.estado == 'ACEPTADA'">
        <h1>Esta Solicitud fue Aceptada</h1>
      </div>
      <br />
      <br />
      <div class="buttons">
        <button class="btn btn-info" (click)="cerrar()">Volver</button>
        <button class="btn btn-info" (click)="Rechazar()">Rechazar Solicitud</button>
        <button class="btn btn-info" (click)="Pendiente()">Poner en Pendiente de Stock</button>
        <button
          class="btn btn-info"
          (click)="modificar()"
          *ngIf="this.Solicitudes.estado !== 'ACEPTADA'"
        >
          Resolver
        </button>
      </div>
    </div>
  </div>
</div>
