<div class="container">
  <h1>Bienvenido a mi paraiso</h1>
  <br />
  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          src="assets/imagenes/logo.png"
          class="d-block w-50 mx-auto"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="assets/imagenes/niños.png"
          class="d-block w-50 mx-auto"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <div class="carousel-item">
        <img
          src="assets/imagenes/toy_story.jpg"
          class="d-block w-50 mx-auto"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="row">
    <div class="col" id="col1">
      <p class="p-1 text-center">
        <strong>
          <p style="font-size: 25px" class="pregunta">
            ¡Únete a nosotros para hacer una diferencia!
          </p>
          <br />
          Desde ONG Safa, creemos en el poder de la comunidad para crear un
          impacto positivo en la vida de quienes más lo necesitan. Nuestra
          misión es brindar apoyo y esperanza a personas y comunidades en
          situación de vulnerabilidad. Y tú puedes ser parte de esta misión.
        </strong>
      </p>
    </div>
    <div class="col">
      <img src="assets/imagenes/niños.png" alt="" />
    </div>
    <div class="row">
      <div class="col">
        <img
          src="assets/imagenes/toy_story.jpg"
          alt=""
          style="margin-left: 18%; width: 400px; margin-top: 2%"
        />
      </div>
      <div class="col" style="margin-top: 7%">
        <p class="p-1 text-center">
          <strong>
            <p style="font-size: 25px" class="pregunta">¿Por qué donar?</p>
            Cada donación, sin importar su tamaño, tiene el potencial de hacer
            una diferencia significativa en la vida de alguien que lo necesita.
            Ya sea que estés considerando donar objetos en buen estado que ya no
            utilizas, tu generosidad puede tener un impacto duradero. Al
            extender tu mano para ayudar a los demás, estás contribuyendo a
            crear un mundo más solidario y mejor para todos.
          </strong>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="p-1 text-center">
          <strong>
            <p style="font-size: 25px" class="pregunta">¿Cómo donar?</p>
            Donar es fácil. Puedes visitarnos en nuestra ubicación <a>C. Zoologia,
            48, 41015 Sevilla</a> para dejar tus donaciones en persona o programar
            una recolección en tu domicilio. También aceptamos donaciones en
            línea a través de nuestro sitio web seguro. Cada donación, grande o
            pequeña, nos acerca un paso más a ayudar a quienes más lo necesitan.
          </strong>
        </p>
      </div>
      <div class="col" style="margin-top: 7%"></div>
    </div>
  </div>
</div>
